// 全てのコンポーネントで読み込まれる変数

// テーマカラー
$hue: 142deg;
$color-primary: hsl($hue, 70%, 45%);
$color-light: hsl($hue, 70%, 50%);

// グレースケール
$color-text: hsl(0deg, 0%, 10%);
$color-text-dimmed: hsl(0deg, 0%, 45%);
$color-background: hsl(0deg, 0%, 95%);
$color-white: hsl(0deg, 0%, 100%);
